/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');
/* Variables --------------------------------------------------- */

:root {
  --color-main: #FFFFFF;

  --color-bg-dark-grey: #EFEFEF;
  --color-bg-light-grey: #FAFAFA;
  --color-bg-ultraviolet: #4D00FF;

  --color-text-dark: #000000;
  --color-text-grey: #737373;
  --color-text-white: #FFFFFF;
  --color-text-blue: #0095F6;
  --color-text-link: #00376B;
  --color-text-error: #FF0014;
  --color-text-delete: #ED4956;

  --color-button-blue: #0095F6;
  --color-button-grey: #EFEFEF;

  --color-line: #DBDBDB;

  --color-modal: #000000C0;

  --border-radius-xxs: 1px;
  --border-radius-xs: 3px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;

  --border: 1px solid var(--color-line);
  --border-none: none;


  --box-shadow: 4px 0px 24px 0 #00000026;


  --container-width: 100%;
  --container-padding-x: 20px;

  --transition-duration: all 0.2s;


}

/* Global Styles --------------------------------------------------- */

.globalContainer {
  /* Ширина контейнара 1440px */
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  /* Центрирование контейнера по-центру */
  margin-inline: auto;
  /* 15px зона безопасности с обеих сторон */
  padding-inline: var(--container-padding-x);
  /* background-color: rgb(193, 251, 193); */
  background-color: var(--background-color);
  color: var(--text-color);
}

body,
html {
  font-family:  "Roboto",sans-serif;
  font-size: 14px;
  /*0,7778 rem*/
  font-weight: 400;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body, .app.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

.app.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}


h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  font-family:  sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 20px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 11.86px;
  line-height: 15.25px;
}

a,
Link,
button,
input,
textarea,
svg * {
  transition: var(--transition-duration);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
select,
a {
  text-decoration: none;
  cursor: pointer;
}

/* Normalise -------------------------------------------------- */
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
p {
  /* --paragraphMarginBottom: 24px; */

  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
    Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
    Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  height: 100%;
}

/**
    Плавный скролл
   */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
  min-height: 100%;
  /**
      Унифицированный интерлиньяж
     */
  line-height: 1.5;
}

/**
    Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor
}

svg *[stroke] {
  stroke: currentColor
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


