.profileLink {
    display: flex;
    width: fit-content;

}

.link {
    color: var(--color-text-dark);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.activeLink {
    color: var(--color-text-dark);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profileLink_photoBox {
    width: 24px;
    height: 24px;
    border: var(--border);
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
}


.profileLink:hover {

   cursor:pointer;
 }

.profileLink_photoBox img {
border-radius: 50%;
object-fit: cover;
width: 24px;
height: 24px;
}

/* Стандартный стиль для текста */
.profileLink .link span {
    display: inline; 
}

/* Адаптивность для экранов меньше 768px - скрыть текст */
@media (max-width: 768px) {
  .profileLink .link span {
    display: none !important; 
  }
  
  /* Для активных ссылок, скрывать текст на экранах до 768px */
  .profileLink .activeLink span {
    display: none !important; 
  }
  .profileLink_photoBox img {
    width: 33px;
    height: 33px;
    }
}

@media (max-width: 568px) {
.profileLink_photoBox {
  width: 33px;
  height: 33px;
  border: var(--border);
  border-radius: 50%;
  margin-right:0;
  overflow: hidden;
  position: fixed;
  right: 15px;
  top:10px;
}


.profileLink_photoBox img {
border-radius: 50%;
object-fit: cover;
width: 33px;
height: 33px;
}
}