.messageRoom {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipientInfo {
  width: 100%;
  min-height: 75px;
  border-bottom: var(--border);
  display: flex;
  gap: 12px;
  align-items: center;
  padding-left: 16px;
}

.profileImage {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: var(--border );
}

.recipientInfo_inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
  text-align: center;
}

.profileImage_inside {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: var(--border );
}

.recipientInfo_inside p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-text-grey);
}

.recipientInfo_inside button {
  width: 173px;
  height: 32px;
}

.lastMessageDate {
  padding-bottom: 38px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 60%;
  margin: 0 auto;
  padding: 100px 30px 0;
  overflow-y: auto; 
  max-height: 100vh; 
}

/* Сообщение от меня */
.list_item_my {
  display: flex;
  justify-content: flex-end; /* Фото справа */
  gap: 10px; /* Расстояние между сообщением и фото */
  margin-left: 30%;
  margin-right: 0;
}

/* Сообщение от собеседника */
.list_item_their {
  display: flex;
  justify-content: flex-start; /* Фото слева */
  gap: 10px; /* Расстояние между фото и сообщением */
  margin-right: 30%;
}

/* Общий стиль текста сообщения */
.message_text {
  font-weight: 400;
  line-height: 15.5px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 12.06px;
}

.message_wrapper {
  padding: 12px 16px;
  border-radius: var( --border-radius-l);
}

/* Сообщение от меня */
.list_item_my .message_text {
  color: var(--color-text-white); 
}
.list_item_my .message_wrapper {
  background-color: var(--color-bg-ultraviolet);
}
/* Сообщение от собеседника */
.list_item_their .message_text {
  color: var(--color-text-dark); /* Тёмный текст */
}
.list_item_their .message_wrapper {
  background-color: var(--color-bg-dark-grey);
}


/* Общий стиль для аватаров */
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: var(--border);
}

/* Аватар собеседника (слева) */
.avatar_their {
  margin-right: 10px;
}

/* Аватар отправителя (справа) */
.avatar_my {
  margin-left: 10px;
}

.form {
  display: flex;
  padding-top: 40px;
  position: relative;
}

.form  textarea {
  border: var(--border);
  border-radius: var( --border-radius-xl);
  padding: 12px 40px 10px 12px;
  color: var(--color-text-grey);
}

.form  textarea::placeholder {
font-size: 15px;
font-weight: 400;
line-height: 18px;
}

.form button {
position: absolute;
bottom: 10px;
right: 12px;
border: none;
background-color: transparent;
}